@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* RESETS */
:root,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Common ThreatShield styles */

.threatshield-gradient {
  border-radius: 6px;
  background: linear-gradient(
    270deg,
    #ac50f4 0.8%,
    #7e4bed 60.29%,
    #6e68d1 105.85%
  );
}

.threadshield-jumbo-header {
  color: #000;
  leading-trim: both;
  text-edge: cap;
  font-family: Jockey One;
  font-size: 88px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/* USER INDICATOR */

/* User indicator for waiting */
#suggest-spinner {
  display: block;
  position: fixed;
  top: calc(50% - 5rem);
  left: calc(50% - 5rem);
  width: 10rem;
  height: 10rem;
  transform: translate(-50%, -50%);
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* CHAT */

/* Style the chat labels */
.chat-input label {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  animation: typeText 3s steps(25) 1s;
}

/* Style the fake input fields */
.chat-input .fake-input-box {
  width: 70%;
  padding: 1rem;
  font-size: 0.9rem;
  background-color: #f3f1f1;
  color: black;
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.5rem;
  overflow: hidden;
}

/* Style the input fields */
.chat-input div input {
  padding: 1rem;
  background-color: #218aff;
  color: white;
  border: 0.1rem solid var(--primary-color);
  border-radius: 0.5rem;
  font-size: 0.9rem;
}

.chat-input div {
  width: 90%;
}

@keyframes typeText {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
