@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* RESETS */
:root, html, body
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}