
<section class="flex flex-col justify-center items-center h-screen gap-9">
  <p class="text-9xl">🛡️</p>
  <.link navigate={~p"/organisations"} class="border-black border-2 text-black px-5 py-2 rounded-lg transition duration-300 ease-in-out transform hover:scale-105">Go to organisations</.link>
</section>
