<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <meta http-equiv="Content-Security-Policy" content={"default-src 'self' https://api.openai.com; img-src 'self' data:; script-src 'self' 'unsafe-inline'; style-src 'self' 'unsafe-inline';"} />
    <.live_title>
      <%= assigns[:page_title] || "ThreatShield" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="antialiased bg-neutral-100">
    
    <%= @inner_content %>

    <script>
      function toggleDropdown(id) {

        const navDropdown = document.getElementById(id);
        const icon = navDropdown.getElementsByClassName("hero-chevron-down")[0];
        const navMenu = navDropdown.lastElementChild;
   
        if (navMenu) {
          navMenu.classList.toggle("hidden");
        }
        
        document.addEventListener("click", (e) => {
          if (e.target.closest(".nav-dropdown") !== navDropdown) {
            navMenu.classList.add("hidden");
          }
          const isHidden = navMenu.classList.contains("hidden");
          if (icon) {
          icon.style.transform = isHidden ? "rotate(0deg)" : "rotate(180deg)";
          }
        });
      }
    </script>
  </body>
</html>
